RewriteEngine On
RewriteBase /

# Красивые URL для страниц с кодовыми именами
RewriteRule ^experts/?$ /page103811056.html [L]
RewriteRule ^how/?$ /page103811576.html [L]
RewriteRule ^faq/?$ /page103811816.html [L]

# Если запрос не файл и не папка, пробуем добавить .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
